body {
    text-align: center;
    background-image: url("bodybg.png");
    backdrop-filter: blur(1px);
  }

a{
  color: white;
}

h1{
  text-underline-offset: 1000px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}